volumes:
  db_data_dev:

services:
  clepsy:
    image: clepsy-dev
    depends_on:
        valkey:
          condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    volumes:
      - .:/app
      - db_data_dev:/var/lib/clepsy

    env_file:
      - .env
    entrypoint: ["sh", "-c", "sleep infinity & wait"]
    ports:
      - "8000:8000"

    environment:
      GOOSE_DRIVER: sqlite3
      GOOSE_DBSTRING: /var/lib/clepsy/db.sqlite3
      GOOSE_MIGRATION_DIR: ./migrations
      VALKEY_URL: redis://valkey:6379/0

  valkey:
    image: valkey/valkey:9.0.0
    container_name: valkey
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 2s
      retries: 20

  dramatiq-worker:
    image: clepsy-dev
    command: bash -lc "uv run dramatiq clepsy.jobs.desktop clepsy.jobs.mobile clepsy.jobs.aggregation clepsy.jobs.sessions clepsy.jobs.goals --processes 2 --threads 4"
    environment:
      VALKEY_URL: redis://valkey:6379/0
      PYTHONPATH: /app
    volumes:
      - .:/app
      - db_data_dev:/var/lib/clepsy
    depends_on:
        valkey:
          condition: service_healthy
