volumes:
  db_data_dev:
  valkey_data_dev:

services:
  clepsy:
    image: clepsy-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    entrypoint: ["sh", "-c", "sleep infinity & wait"]
    environment:
      GOOSE_DRIVER: sqlite3
      GOOSE_DBSTRING: /var/lib/clepsy/db.sqlite3
      GOOSE_MIGRATION_DIR: ./migrations
      VALKEY_URL: redis://valkey:6379/0
      MONITORING_ENABLED: "true"
      CLEPSY_MODE: dev
      CLEPSY_GID : "0"
      CLEPSY_UID : "0"

    volumes:
      - .:/app
      - db_data_dev:/var/lib/clepsy

    env_file:
      - .env
    ports:
      - "8000:8000"

    depends_on:
      valkey:
        condition: service_healthy

  valkey:
    image: valkey/valkey:9.0.0
    container_name: valkey
    ports:
      - "6379:6379"
    volumes:
      - valkey_data_dev:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 2s
      retries: 20

  dramatiq-worker:
    image: clepsy-dev
    entrypoint: ["/app/scripts/worker_entrypoint.sh"]
    environment:
      CLEPSY_UID: "0"
      CLEPSY_GID: "0"
      VALKEY_URL: redis://valkey:6379/0
      dramatiq_prom_host: 0.0.0.0
      dramatiq_prom_port: "9191"
      prometheus_multiproc_dir: /tmp/dramatiq-prometheus
      dramatiq_prom_db: /tmp/dramatiq-prometheus
      CLEPSY_MODE: dev
    env_file:
      - .env
    volumes:
      - .:/app
      - db_data_dev:/var/lib/clepsy
    restart: unless-stopped
    depends_on:
      clepsy:
        condition: service_started
      valkey:
        condition: service_healthy

  # Valkey metrics exporter for Prometheus
  valkey-exporter:
    image: oliver006/redis_exporter:latest
    command: --redis.addr=valkey:6379
    depends_on:
      valkey:
        condition: service_healthy
    restart: unless-stopped

  # Prometheus (scrapes app, worker, and valkey)
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./ops/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command: --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - valkey-exporter
      - dramatiq-worker
    restart: unless-stopped

  # Grafana (dashboards)
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SECURITY_ADMIN_USER: admin
    volumes:
      - ./ops/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./ops/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro

    depends_on:
      prometheus:
        condition: service_started
    restart: unless-stopped
